/* App.css */
/* @import url('./CSS/FileExplorer.css'); */

#root {
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  transition: .5s ease;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

/* h1 {
  color: red;
} */