.file-explorer {
    width: 350px;
    background-color: #e5f3f1;
    animation: gradientAnimation 4s infinite alternate ease-in-out;
    height: 100vh;
    padding: 10px;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    
    /* overflow-y: auto; */
    /* max-height: 600px; */
  }
  
  .header {
    margin-bottom: 8px;
  }
  
  .explorer-title {
    margin: 0;
    font-size: 1.2rem;
    color: #27445D;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    border: 1px solid #c3e0df;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 8px;
    margin-bottom: 8px;
  }
  
  .search-icon {
    font-size: 1rem;
    color: #888;
    margin-right: 5px;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 0.9rem;
    color: #333;
    background-color: transparent;
  }
  
  .fileBox {
    overflow-y: auto;
    max-height: 400px;
  }

  .folder-container {
    margin: 5px 0;
  }
  
  .folder-header {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    cursor: pointer;
  }
  
  .folder-header:hover {
    background-color: #caf0eaea;
  }
  
  .folder-arrow {
    margin-right: 5px;
    font-weight: bold;
  }
  
  .folder-icon {
    margin-right: 5px;
  }
  
  .folder-name {
    font-size: 15px;
    font-weight: 600;
    color: #27445D;

  }
  .file-container {
    margin: 3px 0;
    cursor: pointer;
  }
  
  .file-content {
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    font-size: 14px;
  }

  
  .file-content:hover {
    background-color:  #caf0eaea;
  }