# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

CodeRunner/node_modules
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?




# 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
# Mistral API 2cQ0N6eY5XGok55SX8VrzMp6N74Cyjbg